<%= form_for [commentable, Comment.new] do |f| %>
    <div class="form-group">
        <%= f.text_area :reply, class: "form-control", placeholder: "Add a comment" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <br>
    <p style="color:grey">．┏━┓┏━┓┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈<br>
┃ ┃┃ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┏━┓┏┓<br>
┃ ┃┃ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┃//┃┗╋┓<br>
┃ ┃┃ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┃//┗━╋┛<br>
┃ ┃┃ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┃//////┃<br>
┏┛ ┗┛ ┗┓ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┃//┏━┛<br>
┃ ＞ ┳ ＜ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┃//┣━┓<br>
┃ ◎┗┻┛◎ ┃☆★☆★<strong>Reply</strong>★☆★☆┈┈┈┈┗┳┛//┗┓ド<br>
┃┏┓ ┏┓ ┃ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┗┓//┏┛ キ<br>
┗┫┣━┫┣━┛ ┈┈┈┈┈┈┈┈┈┈┈┈┈┏┛//┗┓<br>
┗┫♥┗┫ ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ド┗┓//┏(⌒⌒)<br>
┣┳┳〇 ┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈キ┗━┛ ＼／</p>
<% end %>

